:root {
  --primary-color-light: #007bff; /* Example primary color for light theme */
  --primary-color-dark: #45a0ff; /* Example primary color for dark theme */
}

.content-header {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  max-width: 100%;
}

.header-link {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy-link-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  flex-shrink: 0;
}

.content-header:hover .copy-link-button {
  opacity: 1;
}

.copy-link-button svg {
  width: 2em !important; /* Increase size to 200% */
  height: 2em !important; /* Increase size to 200% */
  color: var(--link-light); /* Default to light theme color */
}

/* Dark theme styles */
.dark-mode .copy-link-button svg {
  color: var(--link-dark);
}
