.content-header {
  position: relative;
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-2);
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy-link-button {    
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  /* margin-right: 50px; */
  display: flex;
  align-items: center;
  opacity: 0;
  transition: var(--transition-all);
  flex-shrink: 0;
  position: absolute;
  left: -25px;
}

.content-header:hover .copy-link-button {
  opacity: 1;
}

.copy-link-button svg {
  width: 1.2em !important;
  height: 1.2em !important;
  margin-right: var(--spacing-2);
  color: var(--primary-500);
}

.copy-link-button:hover svg {
  color: var(--primary-600);
  transform: scale(1.1);
}

/* Dark theme styles */
.dark-mode .copy-link-button svg {
  color: var(--link-color);
}
